body {
  font-family: Helvetica;
  width: 100%;
  margin: 5em;
}

h3 {
  font-size: 2.3em;
  color: 	#1E90FF;
}

h4 {
  font size: 1.3em;
  color: #778899;
}

p {
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.newTask input, button {
  padding: 1em;
}

.newTask input {
  width: 20em;
}

.pendingTask button {
  border-radius: .2em;
  background-color: #3CB371;
  color: #DCDCDC;
  margin-top: .2em;
}

.completedTask button {
  border-radius: .2em;
  margin-top: .2em;
}
