body {
  font-family: Helvetica;
  width: 100%;
  margin: 1em;
}

h3 {
  font-size: 2.3em;
  color: 	#1E90FF;
}

h4 {
  font size: 1.3em;
  color: #778899;
}

p {
  font-size: 1em;
}

input, button {
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}
